<%# splash page  %>
<div class="jumbotron jumbotron-fluid">
  <div class="container" class="splashtitle">
    <p class"splashname">WAYFARE</p>
<div class"link">
<%= link_to  "ENTER SITE", cities_path, class:"coolButton" %>
</div>
  </div>
</div>

