<div>
    <div class="container-post-views">
         <div class="form-group"> 

        <h3>Edit Post</h3>
<%# alert for edit posts  %>
        <%= render "partials/form" %>
        <% if flash.alert %>
          <div><%=flash.alert%></div>
        <%end%> 
        <p class="notice"><%= notice %></p>
    </div>
    </div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</div>