<h1>Posts:</h1>

<ul>
<% @city.post.each do |post| %>
    <li><%= link_to post.title, city_post_path(post) %></li>
<% end %>
</ul>
<div><%= link_to  "Add New Post", new_city_post_path %></div>

<h1>we can delete this, isn't showimg</h1>