<div>
    <div class="container-post-views">
        <h3>Create a New Post</h3>

        <%= render "partials/form" %>
        <% if flash.alert %>
          <div><%=flash.alert%></div>
        <%end%> 
        <p class="notice"><%= notice %></p>
    </div>
</div>