<div>
    <div class="container-city-index">

        
        <% @cities.each do |city| %>
            <h1><%= link_to city.name, city_path(city) %></h1>
        <% end %>
        
    </div>
    <div class="city-details"><%= link_to  "Add New City", new_city_path %></div>
</div>