<div>
        <% @cities.each do |city| %>
            <h1 class="inlinkname"><%= link_to city.name, city_path(city) %></h1>
            <div class="flex-container"><%= image_tag(city.image, alt: "Atlanta", class: "indeximg")%></div>
        <% end %>
    <div class="city-details"><%= link_to  "Add New City", new_city_path %></div>
</div>