<div>
        <% @cities.order("created_at ASC").each do |city| %>
            <h1 class="inlinkname"><%= link_to city.name, city_path(city) %></h1>
            <div class="flex-container"><%= image_tag(city.image, alt: "Atlanta", class: "indeximg")%></div>
        <% end %>
</div>