@import "bootswatch/flatly/variables";
@import "bootstrap";
@import "bootswatch/flatly/bootswatch";

.navbar {
    padding: 30px;
    background-color: #808080;
}

.jumbotron p {
    font-size: 120px;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-top: 200px;
    font-weight: 900px; 
    
}


.jumbotron {
    position: relative;
    background: #000 url("https://static.pexels.com/photos/196666/pexels-photo-196666.jpeg") center center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    font-size: 36px;
}

.container-index {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 50px;
}

.container-show {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 50px;
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 50px;
}

.form-group {
    background-color: #808080;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    width: 40%;
    color: #ffffff;
}
.form-control {
    width: 95%;
    resize: none;
}

.btn {
    height: 40px;
    width: 100px;
}

.btn-lrg {
    height: 40px;
    width: 200px;
}